{% extends 'basic.html' %}

{% block css %}
<!-- img{
    height: 200px;
    widht: 200px;
} -->
{% endblock %}

{% block body %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-6 mx-auto border rounded pt-3 mt-5">
            <img src="/media/cart.jpg" class="mx-auto d-block img-fluid">

            <form action="/login" method="post">
                {% csrf_token %}
                <h3 class="alert alert-secondary border rounded m-4" style="text-align:center">Login To Your Account</h3>

                {% if errors %}
                <h4 class="alert alert-danger border rounded m-4" style="text-align:center">{{ errors }}</h4>
                {% endif %}

                <!-- {% if valids %}
                <h3 class="alert alert-success norder rounded m-4" style="text-align:center">{{ valids }}</h3>
                {% endif %} -->

                <div class="form-group m-4">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="{{ values.email }}" id="" class="form-control" placeholder="exaple@gmail.com" required>
                </div>
                <div class="form-group m-4">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="" class="form-control" placeholder="********">
                </div>
                <div class="form-group m-4">
                    <input class="btn btn-info col-lg-4" type="submit" value="Login">
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock body %}